.header-bg{
    background-color: #0c0d57; 
   
}

.logo{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
}
.bg{
    color: white;
}
.btn-login{
    background-color: #1538aced;
   border-radius: 5px;
   
} 

.btn-login:hover{
    background-color: #1538ac81;
    
}


