.header-bg{
    background-color: #0c0d57; 
   
}

.logo{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
}
.bg{
    color: white;
}
.login-btn{
    background-color: #1538aced;
   /* padding: 3px 5px; */
   border-radius: 5px;
   
} 
.logout-btn{
   background-color: #1538aced;
   /* padding: 0px 5px; */
   border-radius: 5px;
   
}
.login-btn:hover{
    background-color: #1538ac81;
    
}
.logout-btn:hover{
    background-color: tomato;
    
}
