.banner{
    background-image: url('../../../images/slider1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;   
    
}


.txt-cl{
    color:whitesmoke;
}

.bd{
    color: rgb(235, 176, 15);
    font-size: 60px;
}
.bd-title{
    color: rgb(235, 176, 15);
    font-size: 34px;

}